- = not done / to be implemented
T = should be tested
✓ = done

	RunBB
✓ "runBB" will run the service
T No warning or communication should be sent during runBB, except there should be an error message when an error occured
✓ The error message should be "there was an error in the execution, for more details check log.txt in the home directory."
T Any error met should be logged in log.txt which is located in the $HOME directory
✓ The script should look through the present and sub directories
✓ It should check each file
✓ Everytime a match is found, it should be copied to the destination
✓ The copied file should have the name changed with the date of the file creation, and the owner of the file
✓ If the name of the file already exists in the destination folder, the name should get a 1 on the end, if that exists it should get a 2 etc.
✓ Compressed files will not be extracted


	ConfigureBB
- "configureBB" can only be ran before "runBB"
✓ Order of options is irrelevant
✓ the parameter -d will specify the directory that contains the report and the copied files for "runBB" (what report??)
✓ if -d is not supplied, create a folder called archive in the current directory.
✓ if folder "archive" exists, create a new folder "archive1", if that exists, create "archive2" etc.
✓ the parameter -b specifies the name and location of the file with the bad words.
✓ if no -b is passed, the bad word list will consist of the word "bad"
✓ The user must receive a descriptive error in stderr for any non-valid option or parameter.
